*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
**/build/
**/.gradle/
**/release/
*.jks
*.keystore
keystore.properties
google-services.json
GoogleService-Info.plist
.kotlin/
out/
